.nav {
  position: sticky;
  top: 0;
  height: 100vh;
  width: 10vw;
  background-color: #28282b;
}

.navlinks {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
}

.navlinks li {
  margin: 3em 0em;
  padding: 1em 2em;
  font-size: 1.2em;
  font-weight: bold;
  cursor: pointer;
}

.navlinks li:hover {
  text-decoration: underline;
  text-decoration-thickness: 0.2em;
  text-underline-offset: 0.3em;
  text-decoration-color: #d4af37;
}

@media only screen and (max-width: 1024px) {
  .navlinks li {
    font-size: 1em;
  }
}

@media only screen and (max-width: 768px) {
  .nav {
    width: 100vw;
    height: 8vh;
  }

  .navlinks {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  .navlinks li {
    margin: 1em;
    padding: 1em;
  }
}
